.section {
  padding: 5rem 0;
  background-color: var(--secondary);
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.infoSide {
  display: flex;
  flex-direction: column;
}

.description {
  margin-bottom: 2.5rem;
  color: #cbd5e1;
  font-size: 1.1rem;
}

.infoItem {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 2rem;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  color: var(--primary);
  flex-shrink: 0;
}

.infoTitle {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.infoText {
  color: #cbd5e1;
  font-size: 0.95rem;
}




@media(min-width: 1024px) {
  .grid { grid-template-columns: 1fr 1fr; align-items: center; }
}